In [1]:
import numpy as np
import pandas as pd

In [2]:
# getting carparks dataset as a dataframe
hdbcarparks = pd.read_excel("hdbcarparks(converted).xlsx")
hdbcarparks.head()

,Unnamed: 0,car_park_no,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking,car_park_decks,gantry_height,car_park_basement,x,y
0,0,ACB,BLK 270/271 ALBERT CENTRE BASEMENT CAR PARK,30314.7936,31490.4942,BASEMENT CAR PARK,ELECTRONIC PARKING,WHOLE DAY,NO,YES,1,1.8,Y,1.301063,103.854118
1,1,ACM,BLK 98A ALJUNIED CRESCENT,33758.4143,33695.5198,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,5,2.1,N,1.321004,103.885061
2,2,AH1,BLK 101 JALAN DUSUN,29257.7203,34500.3599,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,0.0,N,1.328283,103.844620
3,3,AK19,BLOCK 253 ANG MO KIO STREET 21,28185.4359,39012.6664,SURFACE CAR PARK,COUPON PARKING,7AM-7PM,NO,NO,0,0.0,N,1.369091,103.834985
4,4,AK31,BLK 302/348 ANG MO KIO ST 31,29482.0290,38684.1754,SURFACE CAR PARK,COUPON PARKING,NO,NO,NO,0,0.0,N,1.366120,103.846636

In [3]:
# getting sports facility dataset as a dataframe
sportsfacilities = pd.read_csv("sportsfacilities.csv")
sportsfacilities.head()

,X,Y,gid,Name,description,FACILITIES,ROAD_NAME,CONTACT_NO,GYM,INC_CRC,FMEL_UPD_D
0,103.951881,1.374282,2,ActiveSG Pasir Ris Sport Centre,NaN,Swimming Complex/Sports Hall/Stadium/Tennis Ce...,Pasir Ris Central,Swimming Complex: 65835523; Sports Hall: 65838...,1.0,FBB29B7DC5B8F1D4,2.020000e+13
1,103.802553,1.296177,3,Queenstown ActiveSG Swimming Complex/Stadium,NaN,Swimming Complex/Stadium,Stirling Road,Swimming Complex/Stadium: 64737269,NaN,A232E468594E4769,2.020000e+13
2,103.874920,1.356413,5,Serangoon Swimming Complex/ Stadium,NaN,Swimming Complex/ Stadium,Yio Chu Kang Road,Swimming Complex/Stadium: 62884606,NaN,83E8FE10E3CB882A,2.020000e+13
3,103.780196,1.434791,7,Woodlands Sports Centre,NaN,Swimming Complex/Sports Hall/Stadium/Gym,Woodlands Street 12,Swimming Complex: 62694192; Sports Hall: 63652...,1.0,5FF51AB7DAA73FDD,2.020000e+13
4,103.861536,1.325444,8,St Wilfred ActiveSG Sports Centre,NaN,Field/Tennis Centre,St Wilfred Road,Field/Tennis Centre/Squash Centre: 62933452,NaN,B293338652437389,2.020000e+13

In [4]:
# Renaming the column names 
hdbcarparks=hdbcarparks.rename(columns = {'y':'lat','x':'lon'})
sportsfacilities=sportsfacilities.rename(columns = {'X':'lat','Y':'lon'})
# To make sure that there are no null values and All are either integers/ Float values 
hdbcarparks.info() 
print('\n XXXXXXXXXXXXXXXXXXXXXXX\n')
sportsfacilities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              2192 non-null   int64
 1   car_park_no             2192 non-null   object
 2   address                 2192 non-null   object
 3   x_coord                 2192 non-null   float64
 4   y_coord                 2192 non-null   float64
 5   car_park_type           2192 non-null   object
 6   type_of_parking_system  2192 non-null   object
 7   short_term_parking      2192 non-null   object
 8   free_parking            2192 non-null   object
 9   night_parking           2192 non-null   object
 10  car_park_decks          2192 non-null   int64
 11  gantry_height           2192 non-null   float64
 12  car_park_basement       2192 non-null   object
 13  lon                     2192 non-null   float64
 14  lat                     2192 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 257.0+ KB

 XXXXXXXXXXXXXXXXXXXXXXX

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   lat          35 non-null     float64
 1   lon          35 non-null     float64
 2   gid          35 non-null     int64
 3   Name         35 non-null     object
 4   description  0 non-null      float64
 5   FACILITIES   35 non-null     object
 6   ROAD_NAME    35 non-null     object
 7   CONTACT_NO   35 non-null     object
 8   GYM          17 non-null     float64
 9   INC_CRC      35 non-null     object
 10  FMEL_UPD_D   35 non-null     float64
dtypes: float64(5), int64(1), object(5)
memory usage: 3.1+ KB

In [5]:
# Harversine equation - helps to find out closest carparks
from math import radians, cos, sin, asin, sqrt
def dist(lat1, long1, lat2, long2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [6]:
# functions to find the nearest 3 carparks and their carpark number and distance (in metres)

def find_nearest1(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    return hdbcarparks.loc[distances.idxmin(), 'address']

def find_cpno1(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    return hdbcarparks.loc[distances.idxmin(), 'car_park_no']

def find_dist1(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    return int(distances.min()*1000)

def find_nearest2(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    distances = distances.drop(distances.idxmin())
    return hdbcarparks.loc[distances.idxmin(), 'address']

def find_cpno2(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    distances = distances.drop(distances.idxmin())
    return hdbcarparks.loc[distances.idxmin(), 'car_park_no']

def find_dist2(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    distances = distances.drop(distances.idxmin())
    return int(distances.min()*1000)

def find_nearest3(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    distances = distances.drop(distances.idxmin())
    distances = distances.drop(distances.idxmin())
    return hdbcarparks.loc[distances.idxmin(), 'address']

def find_cpno3(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    distances = distances.drop(distances.idxmin())
    distances = distances.drop(distances.idxmin())
    return hdbcarparks.loc[distances.idxmin(), 'car_park_no']

def find_dist3(lat, long):
    distances = hdbcarparks.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    distances = distances.drop(distances.idxmin())
    distances = distances.drop(distances.idxmin())
    return int(distances.min()*1000)

In [7]:
sportsfacilities['address1'] = sportsfacilities.apply(
    lambda row: find_nearest1(row['lat'], row['lon']), 
    axis=1)
sportsfacilities['cpno1'] = sportsfacilities.apply(
    lambda row: find_cpno1(row['lat'], row['lon']), 
    axis=1)
sportsfacilities['dist1'] = sportsfacilities.apply(
    lambda row: find_dist1(row['lat'], row['lon']), 
    axis=1)
sportsfacilities['address2'] = sportsfacilities.apply(
    lambda row: find_nearest2(row['lat'], row['lon']), 
    axis=1)
sportsfacilities['cpno2'] = sportsfacilities.apply(
    lambda row: find_cpno2(row['lat'], row['lon']), 
    axis=1)
sportsfacilities['dist2'] = sportsfacilities.apply(
    lambda row: find_dist2(row['lat'], row['lon']), 
    axis=1)
sportsfacilities['address3'] = sportsfacilities.apply(
    lambda row: find_nearest3(row['lat'], row['lon']), 
    axis=1)
sportsfacilities['cpno3'] = sportsfacilities.apply(
    lambda row: find_cpno3(row['lat'], row['lon']), 
    axis=1)
sportsfacilities['dist3'] = sportsfacilities.apply(
    lambda row: find_dist3(row['lat'], row['lon']), 
    axis=1)
# To check the data frame if it has a new column of hotel name (for each and every member's location in the list)
sportsfacilities.head()

,lat,lon,gid,Name,description,FACILITIES,ROAD_NAME,CONTACT_NO,GYM,INC_CRC,FMEL_UPD_D,address1,cpno1,dist1,address2,cpno2,dist2,address3,cpno3,dist3
0,103.951881,1.374282,2,ActiveSG Pasir Ris Sport Centre,NaN,Swimming Complex/Sports Hall/Stadium/Tennis Ce...,Pasir Ris Central,Swimming Complex: 65835523; Sports Hall: 65838...,1.0,FBB29B7DC5B8F1D4,2.020000e+13,BLK 531/536 PASIR RIS DR 1/PASIR RIS CENTRAL,PR3,155,BLK 555A PASIR RIS STREET 51,PM22,157,BLK 544/556 PASIR RIS STREET 51,PR12,173
1,103.802553,1.296177,3,Queenstown ActiveSG Swimming Complex/Stadium,NaN,Swimming Complex/Stadium,Stirling Road,Swimming Complex/Stadium: 64737269,NaN,A232E468594E4769,2.020000e+13,3 MEI CHIN ROAD,Q49,33,BLK 49 STIRLING RD,Q14,57,BLK 151 MEI LING STREET,Q19,87
2,103.874920,1.356413,5,Serangoon Swimming Complex/ Stadium,NaN,Swimming Complex/ Stadium,Yio Chu Kang Road,Swimming Complex/Stadium: 62884606,NaN,83E8FE10E3CB882A,2.020000e+13,BLK 201/210 SERANGOON CENTRAL,SE19,143,BLK 415-420 LOR LEW LIAN,L1,190,BLK 2A LORONG LEW LIAN,SE29,199
3,103.780196,1.434791,7,Woodlands Sports Centre,NaN,Swimming Complex/Sports Hall/Stadium/Gym,Woodlands Street 12,Swimming Complex: 62694192; Sports Hall: 63652...,1.0,5FF51AB7DAA73FDD,2.020000e+13,BLK 344 WOODLANDS STREET 32,W23T,94,BLK 114-133 MARSILING RISE,W18,115,BLK 336-350 WOODLANDS STREET 32,W23,123
4,103.861536,1.325444,8,St Wilfred ActiveSG Sports Centre,NaN,Field/Tennis Centre,St Wilfred Road,Field/Tennis Centre/Squash Centre: 62933452,NaN,B293338652437389,2.020000e+13,BLK 20/23 ST GEORGE RD,SG3,71,BLK 116 JALAN TENTERAM,BRM6,73,BLK 14/19 ST GEORGE RD,SG2,83

In [8]:
# drop some useless columns
sportsfacilities=sportsfacilities.drop(columns=['gid', 'description','INC_CRC','FMEL_UPD_D'])
sportsfacilities.head()

,lat,lon,Name,FACILITIES,ROAD_NAME,CONTACT_NO,GYM,address1,cpno1,dist1,address2,cpno2,dist2,address3,cpno3,dist3
0,103.951881,1.374282,ActiveSG Pasir Ris Sport Centre,Swimming Complex/Sports Hall/Stadium/Tennis Ce...,Pasir Ris Central,Swimming Complex: 65835523; Sports Hall: 65838...,1.0,BLK 531/536 PASIR RIS DR 1/PASIR RIS CENTRAL,PR3,155,BLK 555A PASIR RIS STREET 51,PM22,157,BLK 544/556 PASIR RIS STREET 51,PR12,173
1,103.802553,1.296177,Queenstown ActiveSG Swimming Complex/Stadium,Swimming Complex/Stadium,Stirling Road,Swimming Complex/Stadium: 64737269,NaN,3 MEI CHIN ROAD,Q49,33,BLK 49 STIRLING RD,Q14,57,BLK 151 MEI LING STREET,Q19,87
2,103.874920,1.356413,Serangoon Swimming Complex/ Stadium,Swimming Complex/ Stadium,Yio Chu Kang Road,Swimming Complex/Stadium: 62884606,NaN,BLK 201/210 SERANGOON CENTRAL,SE19,143,BLK 415-420 LOR LEW LIAN,L1,190,BLK 2A LORONG LEW LIAN,SE29,199
3,103.780196,1.434791,Woodlands Sports Centre,Swimming Complex/Sports Hall/Stadium/Gym,Woodlands Street 12,Swimming Complex: 62694192; Sports Hall: 63652...,1.0,BLK 344 WOODLANDS STREET 32,W23T,94,BLK 114-133 MARSILING RISE,W18,115,BLK 336-350 WOODLANDS STREET 32,W23,123
4,103.861536,1.325444,St Wilfred ActiveSG Sports Centre,Field/Tennis Centre,St Wilfred Road,Field/Tennis Centre/Squash Centre: 62933452,NaN,BLK 20/23 ST GEORGE RD,SG3,71,BLK 116 JALAN TENTERAM,BRM6,73,BLK 14/19 ST GEORGE RD,SG2,83

In [9]:
# export to excel
sportsfacilities.to_excel("nearestCarparks.xlsx")